/* Viga */
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
/* Raleway - 600 */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
/* Raleway - 400 */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  /* Taskbar */
  --bg: #000;

  /* Fonts */
  --viga: "Viga", sans-serif;
  --raleway: "Raleway", sans-serif;
}

.span-white {
  color: white;
}

.ff_viga {
  font-family: var(--viga);
}

.ff_raleway {
  font-family: var(--raleway);
  font-weight: 600;
}

.ff_raleway_regular {
  font-family: var(--raleway);
  font-weight: 400;
}
